<div class="show_banner_wap js_slides">
    <div class="banner_bg js_slidesContainer">
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner1 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <div class="banner_item" style="background-image: url(<%= banner1 %>)">
            </div>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <div class="banner_item" style="background-image: url(<%= banner1 %>)">
            </div>
        </div>
    </div>
    <div class="carousel_dot js_pagination">
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
    </div>
</div>
<div class="shop_about">
    <div class="about_title"></div>
    <div class="about_con clearfix">
        <img class="about_img" src="<%= eq1 %>">
        <div class="about_des">
            <i class="icon_douhao"></i>
            <div class="about_des_title">中信银行——</div>
            <div class="about_des_con">我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算、数字媒体和娱乐以及创新项目和其他业务。我们并通过子公司菜鸟网络及所投资的关联公司口碑，参与物流和本地服务行业，同时与蚂蚁金融服务集团有战略合作，该金融服务集团主要通过中国领先的第三方网上支付平台支付宝运营。云计算、数字媒体和娱乐以及创新项目和其他业务。我们并通过子公司菜鸟网络及所投...</div>
            <a href="#" class="about_des_more">了解详情 ></a>
        </div>
    </div>
</div>
<div class="shop_product" id="productList">
    <div class="product_title"></div>
    <div class="product_con">
        <div class="product_container">
            <ul class="clearfix">
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资1</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <ul class="clearfix">
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <ul class="clearfix">
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资3</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="list_cell">
                    <div class="cell_f_banner">
                        <img src="<%= eq2 %>">
                    </div>
                    <div class="cell_b_bg"></div>
                    <div class="cell_f_con">
                        <a href="#" class="cell_title">经销商动态融资</a>
                        <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方式为依</p>
                        <a href="javascript:;" class="cell_btn">有意向</a>
                        <span class="cell_tips">6-12还款期</span>
                        <span class="cell_tips">8%贷款年利率</span>
                        <span class="cell_tips">10-100万贷款金额</span>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="carousel_dot">
        <a href="javascript:;" class="carousel_dot_span active"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
    </div>
    <a href="javascript:;" class="iconfont icon-youjiantou-xi rotate_right"></a>
    <a href="javascript:;" class="iconfont icon-zuojiantou-xi rotate_left"></a>
</div>
<div class="shop_video">
    <div class="video_title"></div>
    <div class="video_con">
        <ul class="clearfix">
            <li class="video_cell">
                <img src="<%= videoEq1 %>">
                <span class="bgPurple"></span>
                <a href="javascript:;" class="video_play"></a>
                <span class="video_txt">关爱社会，我们在行动</span>
            </li>
            <li class="video_cell">
                <img src="<%= videoEq2 %>">
                <span class="bgGreen"></span>
                <a href="javascript:;" class="video_play"></a>
                <span class="video_txt">关爱社会，我们在行动</span>
            </li>
            <li class="video_cell">
                <img src="<%= videoEq3 %>">
                <span class="bgBlue"></span>
                <a href="javascript:;" class="video_play"></a>
                <span class="video_txt">关爱社会，我们在行动</span>
            </li>
        </ul>
    </div>
</div>