<div class="warp">
    <div class="help-warp clearfix">
        <div class="help-menu floatL">
            <dl>
                <dt>客服热线：400-1688-888</dt>
                <dd class="act" data-id="qs"><a href="javascript:;">常见问题<i class="iconfont icon-youjiantou"></i></a>
                </dd>
                <dd data-id="fl"><a href="javascript:;">会员注册<i class="iconfont icon-youjiantou"></i></a></dd>
                <dd data-id="seller"><a href="javascript:;">供应商指南<i class="iconfont icon-youjiantou"></i></a></dd>
                <dd data-id="buyer"><a href="javascript:;">采购商指南<i class="iconfont icon-youjiantou"></i></a></dd>
                <dd data-id="video"><a href="javascript:;">视频教程<i class="iconfont icon-youjiantou"></i></a></dd>
                <dd data-id="wd"><a href="javascript:;">帮助文档<i class="iconfont icon-youjiantou"></i></a></dd>
            </dl>
        </div>
        <div class="help-content floatR">
            <div class="help-title display-block" id="qs"><span>常见问题</span></div>
            <div class="help-detail display-block">
                <div class="help-qs-item">
                    <div class="help-qs-title"><i class="iconfont icon-i"></i>【附件无法上传】 附件上传多次，都上传失败？</div>
                    <div class="help-qs-detail">可能是浏览器不兼容的问题，建议使用IE、谷歌或者火狐浏览器。</div>
                </div>
                <div class="help-qs-item">
                    <div class="help-qs-title"><i class="iconfont icon-i"></i>【无法提交】信息编辑完毕点击提交，点不动怎么办？</div>
                    <div class="help-qs-detail">查看页面是否有必填项没有填写完整或格式填写错误。</div>
                </div>
                <div class="help-qs-item">
                    <div class="help-qs-title"><i class="iconfont icon-i"></i>【注册后无法报名投标】申报资料审核通过后，无法参加相应项目采购活动的报名怎么办？
                    </div>
                    <div class="help-qs-detail">用户需要缴纳会籍费成为生材网VIP会员，申请成为VIP会员将享有生材网独家集采信息的在线查看和参与报价权利。</div>
                </div>
                <div class="help-qs-item">
                    <div class="help-qs-title"><i class="iconfont icon-i"></i>【会籍费标准】会籍费缴纳标准是多少？</div>
                    <div class="help-qs-detail">①
                        用户注册“采购商”角色的VIP会员，注册首年内发起并完成有效的招标/竞争性谈判/询比价等采购活动超过6笔或标的物估价累计超过500万元的，会籍费全免；不足上述标准的，次年会籍费按12000元/年收取；
                    </div>
                    <div class="help-qs-detail">② 用户注册“供应商”或“采购商/供应商”角色的VIP会员，会籍费按12000元/年收取。</div>
                    <div class="help-qs-detail">在集采平台中，除会籍费外，生材网不再收取其它费用。</div>
                </div>
                <div class="help-qs-item">
                    <div class="help-qs-title"><i class="iconfont icon-i"></i>【注册后无法报名投标】申报资料审核通过后，无法参加相应项目采购活动的报名怎么办？
                    </div>
                </div>
            </div>
            <div class="help-title" id="fl"><span>注册流程</span></div>
            <div class="help-detail">
                <div class="help-fl-item">
                    <p>第一步 :</p>
                    <p>登录生材网（http：//www. materialw.com） ,进入首页（友情提示：欢迎将平台网址收藏）；登录区域的上方，鼠标点击“立即注册”页签，进入注册界面，如下图所示：</p>
                    <img src="<%= help1_1 %>">
                    <p>贸易身份的解读：</p>
                    <table>
                        <thead>
                        <tr>
                            <th>注册角色</th>
                            <th>操作权限</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>我是供应商</td>
                            <td>在生材网中发布供应信息、响应采购活动、销售商品、信息查询等</td>
                        </tr>
                        <tr>
                            <td>我是采购商</td>
                            <td>在生材网中发布需求信息、发起采购活动、选购商品、信息查询等</td>
                        </tr>
                        <tr>
                            <td>两者都是</td>
                            <td>既可以参与生材网的招投标业务，也可以参与生材网的商品买卖业务</td>
                        </tr>
                        </tbody>
                    </table>
                    <img src="<%= help1_2 %>">
                </div>
                <div class="help-fl-item">
                    <p>第二步 :</p>
                    <p>
                        在注册界面编辑完注册人信息、确认用户注册协议后，点击“完善企业信息”按钮，需要编辑的内容有企业基本情况、法人信息、统一社会信用代码、公司授权书等，相关附件格式请严格按照模板上传，如下图所示：</p>
                    <img src="<%= help2_1 %>">
                </div>
                <div class="help-fl-item">
                    <p>第三步：</p>
                    <p>编写完信息之后，点击“完成”按钮，提交数据，申报资料提交至生材网后台审核，我们会在24小时内完成审核工作，审核结果将以短信形式告知。</p>
                </div>
                <img src="<%= help3_1 %>">
                <div class="help-fl-item">
                    <p>如果未通过审核，请按照未通过原因进行修改，或致电生材网客服热线<span class="textOrange">027-82813259</span>，重新提交审核。</p>
                </div>
            </div>
            <div class="help-title" id="seller"><span>供应商指南</span></div>
            <div class="help-detail">
                <div class="help-fl-item">
                    <p>第一步 :</p>
                    <p>登录生材网。</p>
                    <p>进入生材网（http：//www. materialw.com），选择“我是供应商商”，输入账号、密码，点击“登录生材网”按钮：</p>
                    <img src="<%= seller1_1 %>">
                    <img src="<%= seller1_2 %>">
                </div>
                <div class="help-fl-item">
                    <p>第二步 :</p>
                    <p>报名。</p>
                    <p>点击“独家集采”，进入集采公告列表页，选择集采内容，进入集采详情页：</p>
                    <img src="<%= seller2_1 %>">
                    <img src="<%= seller2_2 %>">
                </div>
                <div class="help-fl-item">
                    <p>第三步 :</p>
                    <p>在线投标/报价。</p>
                    <p>报名成功后，针对投标方式为“线上投标”的集采，供应商可以进行在线投标/在线报价。</p>
                    <img src="<%= seller3_1 %>">
                </div>
            </div>
            <div class="help-title" id="buyer"><span>采购商指南</span></div>
            <div class="help-detail">
                <div class="help-fl-item">
                    <p>一、发布采购信息</p>
                </div>
                <div class="help-fl-item">
                    <p>第一步 :</p>
                    <p>登录生材网。</p>
                    <p>进入生材网（http：//www. materialw.com），选择“我是采购商”，输入账号、密码，点击“登录生材网”按钮：</p>
                    <img src="<%= buyer1_1 %>">
                    <img src="<%= buyer1_2 %>">
                </div>
                <div class="help-fl-item">
                    <p>第二步 :</p>
                    <p>发布招标/询比价/竞争性谈判。</p>
                    <p>点击顶部导航栏中的“采购商中心”，进入我的“采购商中心”，根据实际采购需求，选择“发布招标”（公开招标/邀请招标）、“发布询比价”、“发布竞争性谈判”：</p>
                    <img src="<%= buyer2_1 %>">
                    <img src="<%= buyer2_2 %>">
                </div>
                <div class="help-fl-item">
                    <p>第三步 :</p>
                    <p>编辑招标公告，招标文件。</p>
                    <p>根据页面提示，按照要求和实际情况输入招标公告内容和招标文件内容，点击发布即可。发布后可在列表及详情页跟踪报名和投标情况，录入招标结果，发表对中标单位的评价等。</p>
                    <img src="<%= buyer3_1 %>">
                </div>
                <div class="help-fl-item">
                    <p>二、跟踪采购信息</p>
                </div>
                <div class="help-fl-item">
                    <p>第一步 :</p>
                    <p>查看招标列表。</p>
                    <img src="<%= buyer2_1_2 %>">
                </div>
                <div class="help-fl-item">
                    <p>第二步 :</p>
                    <p>跟踪招标状态。</p>
                    <p>进入招标详情，跟踪招标状态，查看报名、投标等信息。</p>
                    <img src="<%= buyer3_1_2 %>">
                </div>
                <div class="help-fl-item">
                    <p>三、管理供应商资源库</p>
                </div>
                <div class="help-fl-item">
                    <p>第一步 :</p>
                    <p>进入企业供应商资源库。</p>
                    <p>点击顶部导航栏中的“采购商中心”，进入我的“采购商中心”>企业供应商资源库：</p>
                    <img src="<%= buyer1_1_3 %>">
                </div>
                <div class="help-fl-item">
                    <p>第二步 :</p>
                    <p>邀请/管理我的供应商。</p>
                    <img src="<%= buyer2_1_3 %>">
                </div>
            </div>
            <div class="help-title" id="video"><span>视频教程</span></div>
            <div class="help-detail clearfix">
                <div class="video_con clearfix">
                    <h1 class="fontSize16 textOrange">操作演示-采购商版</h1>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="buyer_1.mp4">
                            <img src="<%= video1 %>">
                            <p>1 采购商-注册流程</p>
                        </a>
                    </div>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="buyer_2.mp4">
                            <img src="<%= video2 %>">
                            <p>2 采购商-前期基础设置</p>
                        </a>
                    </div>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="buyer_3.mp4">
                            <img src="<%= video3 %>">
                            <p>3 采购商-供应商管理</p>
                        </a>
                    </div>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="buyer_4.mp4">
                            <img src="<%= video4 %>">
                            <p>4 采购商-发起采购业务流程</p>
                        </a>
                    </div>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="buyer_5.mp4">
                            <img src="<%= video5 %>">
                            <p>5 采购商-确认标书费</p>
                        </a>
                    </div>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="buyer_print.mp4">
                            <img src="<%= video9 %>">
                            <p>6 采购商-痕迹打印</p>
                        </a>
                    </div>
                </div>
                <div class="video_con clearfix">
                    <h1 class="fontSize16 textOrange">操作演示-供应商版</h1>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="supplier_1.mp4">
                            <img src="<%= video6 %>">
                            <p>1 供应商-注册流程</p>
                        </a>
                    </div>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="supplier_2.mp4">
                            <img src="<%= video7 %>">
                            <p>2 供应商-基础设置</p>
                        </a>
                    </div>
                    <div class="help-video-item">
                        <a href="javascript:;" class="js_video" data-url="supplier_3.mp4">
                            <img src="<%= video8 %>">
                            <p>3 供应商--投标报名</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="help-title" id="wd"><span>帮助文档</span></div>
            <div class="help-detail clearfix">
                <div class="help-wd-item">
                    <a href="#">
                        <img src="">
                        <p>供应商操作手册.pdf</p>
                    </a>
                </div>
                <div class="help-wd-item">
                    <a href="http://static.materialw.com/file/采购商培训手册v1.0.pdf">
                        <img src="<%= handleBuyer %>">
                        <p>采购商操作手册V1.0</p>
                    </a>
                </div>
                <div class="help-wd-item">
                    <a href="http://static.materialw.com/file/企业管理员授权委托书.pdf">
                        <img src="<%= handleManager %>">
                        <p>企业管理员授权委托书</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="video_box">

    </div>
</div>