<div class="banner_wrap js_slides" id="banner">
    <div class="banner_bg js_slidesContainer">
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner1 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner2 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner3 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner4 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner6 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner7 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner8 %>)">
            </a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner10 %>)">
            </a>
        </div>
    </div>
    <div class="carousel_btn">
        <span class="left_btn js_left">
            <i class="iconfont icon-zuojiantou-xi"></i>
        </span>
        <span class="right_btn js_right">
            <i class="iconfont icon-youjiantou-xi"></i>
        </span>
    </div>
    <div class="carousel_dot js_pagination">
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
    </div>
</div>
<div class="trend_wrap">
    <div class="trend_inner clearfix">
        <div class="trend_box else_set">
            <div class="trend_headline">
                <h3>入驻动态</h3>
                <div class="oprate_box">
                    <i class="iconfont icon-shangjiantou upordown"></i>
                    <i class="iconfont icon-xiajiantou upordown"></i>
                </div>
                <span class="trend_line"></span>
            </div>
            <div class="trend_list_wrap">
                <ul class="trend_list">
                    <li class="trend_item">
                        <a class="trend_link ellipsis" href="javascript:;" title="热烈祝贺武汉恒鑫爵商贸有限公司成为生材网钻石VIP会员！">热烈祝贺武汉恒鑫爵商贸有限公司成为生材网<strong>钻石VIP会员</strong>！</a>
                        <span class="trend_type">供应商</span>
                    </li>
                    <li class="trend_item">
                        <a class="trend_link ellipsis" href="javascript:;" title="热烈祝贺武汉恒鑫爵商贸有限公司成为生材网钻石VIP会员！">热烈祝贺武汉恒鑫爵商贸有限公司成为生材网<strong>钻石VIP会员</strong>！</a>
                        <span class="trend_type">供应商</span>
                    </li>
                    <li class="trend_item">
                        <a class="trend_link ellipsis" href="javascript:;" title="热烈祝贺中国建设银行（江岸支行）成功入驻生材网！">热烈祝贺中国建设银行（江岸支行）成功入驻生材网！</a>
                        <span class="trend_type">金融服务商</span>
                    </li>
                    <li class="trend_item">
                        <a class="trend_link ellipsis" href="javascript:;" title="热烈祝贺中国建设银行（江岸支行）成功入驻生材网！">热烈祝贺中国建设银行（江岸支行）成功入驻生材网！</a>
                        <span class="trend_type">金融服务商</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="trend_box last_box">
            <div class="trend_headline">
                <h3>生材网头条</h3>
                <div class="oprate_box">
                    <a class="headline_more" href="javascript:;">更多<i class="iconfont icon-youjiantou"></i></a>
                </div>
                <span class="trend_line"></span>
            </div>
            <div class="headline_wrap">
                <ul class="headline_list">
                    <li class="headline_item clearfix">
                        <div class="headline_time">
                            <span>09&nbsp;/&nbsp;10</span>
                        </div>
                        <div class="headline_intro">
                            <a class="headline_link ellipsis" href="javascript:;" title="热烈祝贺生材网首有中标单位诞生！">热烈祝贺生材网首有中标单位诞生！</a>
                            <p class="headline_info ellipsis">0月9日，武汉威瑞德环境科技有限公司中标汉阳市政集团承建的江汉七桥工程PPP项目项目...</p>
                        </div>
                    </li>
                    <li class="headline_item clearfix">
                        <div class="headline_time">
                            <span>09&nbsp;/&nbsp;10</span>
                        </div>
                        <div class="headline_intro">
                            <a class="headline_link ellipsis" href="javascript:;" title="热烈祝贺生材网首有中标单位诞生！">热烈祝贺生材网首有中标单位诞生！</a>
                            <p class="headline_info ellipsis">0月9日，武汉威瑞德环境科技有限公司中标汉阳市政集团承建的江汉七桥工程PPP项目项目</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="platform_wrap" id="trend">
    <div class="platform_inner">
        <div class="platform_title">
            <h2>招投标平台</h2>
            <p>——&nbsp;&nbsp;&nbsp;电子招投标整体解决方案&nbsp;&nbsp;&nbsp;——</p>
        </div>
        <div class="function_list clearfix">
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-zaixianzhaotoubiao"></i>
                </dt>
                <dd class="function_word">
                    <span>在线招标</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-henjiguanli"></i>
                </dt>
                <dd class="function_word">
                    <span>招标痕迹管理与追踪</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-baozhengjinjianguan"></i>
                </dt>
                <dd class="function_word">
                    <span>在线投标</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-gongyingshangziyuanku"></i>
                </dt>
                <dd class="function_word">
                    <span>企业供应商资源库</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-caigoushangziyuanku"></i>
                </dt>
                <dd class="function_word">
                    <span>采购商资源库</span>
                </dd>
            </dl>
        </div>
        <div class="online_tags">
            <strong>物资采购</strong>
            <strong>专业分包</strong>
            <strong>劳务分包</strong>
            <strong>设备租赁</strong>
            <strong class="green_tags else_tags">公开招标</strong>
            <strong class="green_tags">邀请招标</strong>
            <strong class="green_tags">询比价</strong>
            <strong class="green_tags">竞争性谈判</strong>
        </div>
        <i class="zhishi iconfont icon-xiajiantou"></i>
    </div>
</div>
<div class="tender_notice_wrap">
    <div class="tender_notice_inner">
        <div class="tender_notice_title">
            <h2>招标公告</h2>
            <span class="tender_notice_line"></span>
        </div>
        <div class="tender_notice_table">
            <table>
                <thead>
                    <tr>
                        <th>招标名称</th>
                        <th>项目名称</th>
                        <th>采购单位</th>
                        <th>发布时间</th>
                        <th>截标时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="bidding_area">
                                <a class="bidding_name ellipsis" href="javacscript:;">陶家岭路、龙兴东街道路改造提升工程25字超长截断</a>
                                <div class="bidding_type">
                                    <span><i class="iconfont icon-quanxian-kaifang"></i>公开招标</span>
                                    <span><i class="iconfont icon-leibie"></i>物资招标</span>
                                    <span><i class="iconfont icon-ren"></i>项目级招标</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="bidding_project ellipsis">武汉军运会汉阳区新增配道路，20字超长截断</p>
                        </td>
                        <td>
                            <p class="bidding_company ellipsis">武汉市汉阳市政,15字超长截断</p>
                        </td>
                        <td>2018-10-16</td>
                        <td>2018-11-01&nbsp;14:00:00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="bidding_area">
                                <a class="bidding_name ellipsis" href="javacscript:;">陶家岭路、龙兴东街道路改造提升工程25字超长截断</a>
                                <div class="bidding_type">
                                    <span><i class="iconfont icon-quanxian-kaifang"></i>公开招标</span>
                                    <span><i class="iconfont icon-leibie"></i>物资招标</span>
                                    <span><i class="iconfont icon-ren"></i>项目级招标</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="bidding_project ellipsis">武汉军运会汉阳区新增配道路，20字超长截断</p>
                        </td>
                        <td>
                            <p class="bidding_company ellipsis">武汉市汉阳市政,15字超长截断</p>
                        </td>
                        <td>2018-10-16</td>
                        <td>2018-11-01&nbsp;14:00:00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="bidding_area">
                                <a class="bidding_name ellipsis" href="javacscript:;">陶家岭路、龙兴东街道路改造提升工程25字超长截断</a>
                                <div class="bidding_type">
                                    <span><i class="iconfont icon-quanxian-kaifang"></i>公开招标</span>
                                    <span><i class="iconfont icon-leibie"></i>物资招标</span>
                                    <span><i class="iconfont icon-ren"></i>项目级招标</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="bidding_project ellipsis">武汉军运会汉阳区新增配道路，20字超长截断</p>
                        </td>
                        <td>
                            <p class="bidding_company ellipsis">武汉市汉阳市政,15字超长截断</p>
                        </td>
                        <td>2018-10-16</td>
                        <td>2018-11-01&nbsp;14:00:00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="bidding_area">
                                <a class="bidding_name ellipsis" href="javacscript:;">陶家岭路、龙兴东街道路改造提升工程25字超长截断</a>
                                <div class="bidding_type">
                                    <span><i class="iconfont icon-quanxian-kaifang"></i>公开招标</span>
                                    <span><i class="iconfont icon-leibie"></i>物资招标</span>
                                    <span><i class="iconfont icon-ren"></i>项目级招标</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="bidding_project ellipsis">武汉军运会汉阳区新增配道路，20字超长截断</p>
                        </td>
                        <td>
                            <p class="bidding_company ellipsis">武汉市汉阳市政,15字超长截断</p>
                        </td>
                        <td>2018-10-16</td>
                        <td>2018-11-01&nbsp;14:00:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="get_more">
            <a href="javascript:;">更多招标信息</a>
        </div>
    </div>
</div>
<div class="inquiry_warp" id="inquiry">
    <!-- <div class="inquiry_container">
        <div class="inquiry_left">
            <p class="fontSize30 textWhite">快捷竞价</p>
            <p class="fontSize16 textWhite marginT20">快速询价报价</p>
            <div class="inquiry_line"></div>
            <p class="fontSize20 textWhite" style="width:420px;line-height:1.5;">采购商发布需求形成询价单，供应商在线报价， 形成交易。</p>
            <a class="inquiry_more">更多询价信息</a>
        </div>
        <div class="inquiry_right"></div>
    </div> -->
    <div class="inquiry_inner">
        <div class="inquiry_title">
            <h2>快捷竞价</h2>
            <p>—— 快速询价报价 ——</p>
        </div>
        <div class="function_list clearfix">
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-mianfeixunjia"></i>
                </dt>
                <dd class="function_word">
                    <span>免费询价</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-baojiaxiaofei"></i>
                </dt>
                <dd class="function_word">
                    <span>快捷报价</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-dayin"></i>
                </dt>
                <dd class="function_word">
                    <span>痕迹打印</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-jiaoyi"></i>
                </dt>
                <dd class="function_word">
                    <span>订单交易管理</span>
                </dd>
            </dl>
            <dl class="function_item">
                <dt class="function_icon">
                    <i class="iconfont icon-sanfangzhifu"></i>
                </dt>
                <dd class="function_word">
                    <span>三方担保支付</span>
                </dd>
            </dl>
        </div>
        <div class="inquiry_list">
            <ul>
                <li class="inquiry_item none">
                    <span class="inquiry_item_zhan"></span>
                    <p class="inquiry_time">02-19  09：30</p>
                    <span class="inquiry_line"></span>
                    <a href="#" class="inquiry_name">中铁十四局集团网工程项目经理部止水拉杆及钢筋网片采购...</a>
                    <span class="block textBlack1 marginT10"><span class="textOrange">3 家</span>已报价</span>
                    <p class="inquiry_company"><i class="iconfont icon-gongsi"></i>湖北省楚建易网...有限公司</p>
                    <p class="inquiry_city"><i class="iconfont icon-ditu"></i>湖北省-武汉</p>
                    <span class="inquiry_item_juan"></span>
                    <span class="inquiryDone"></span>
                    <span class="inquiryNone"></span>
                </li>
                <li class="inquiry_item done">
                    <span class="inquiry_item_zhan"></span>
                    <p class="inquiry_time">02-19  09：30</p>
                    <span class="inquiry_line"></span>
                    <a href="#" class="inquiry_name">中铁十四局集团网工程项目经理部止水拉杆及钢筋网片采购...</a>
                    <span class="block textBlack1 marginT10"><span class="textOrange">3 家</span>已报价</span>
                    <p class="inquiry_company"><i class="iconfont icon-gongsi"></i>湖北省楚建易网...有限公司</p>
                    <p class="inquiry_city"><i class="iconfont icon-ditu"></i>湖北省-武汉</p>
                    <span class="inquiry_item_juan"></span>
                    <span class="inquiryDone"></span>
                    <span class="inquiryNone"></span>
                </li>
                <li class="inquiry_item done">
                    <span class="inquiry_item_zhan"></span>
                    <p class="inquiry_time">02-19  09：30</p>
                    <span class="inquiry_line"></span>
                    <a href="#" class="inquiry_name">中铁十四局集团网工程项目经理部止水拉杆及钢筋网片采购...</a>
                    <span class="block textBlack1 marginT10"><span class="textOrange">3 家</span>已报价</span>
                    <p class="inquiry_company"><i class="iconfont icon-gongsi"></i>湖北省楚建易网...有限公司</p>
                    <p class="inquiry_city"><i class="iconfont icon-ditu"></i>湖北省-武汉</p>
                    <span class="inquiry_item_juan"></span>
                    <span class="inquiryDone"></span>
                    <span class="inquiryNone"></span>
                </li>
            </ul>
        </div>
        <a href="#" class="inquiry_btn">更多询价信息</a>
    </div>
</div>
<div class="shop_warp" id="shop">
    <h1 class="show_title">直采商城</h1>
    <p class="show_des">—— 一站式直采商城 ——</p>
    <div class="shop_nav clearfix">
        <span class="shop_nav_cell">
            <i class="iconfont icon-kuaijieruzhu"></i>
            <p>商家店铺快捷入驻</p>
        </span>
        <span class="shop_nav_cell">
            <i class="iconfont icon-sanfangzhifu"></i>
            <p>三方担保支付</p>
        </span>
        <span class="shop_nav_cell">
            <i class="iconfont icon-zhucailingcai"></i>
            <p>工程项目主材/辅材零采</p>
        </span>
        <span class="shop_nav_cell">
            <i class="iconfont icon-bangongyongpin"></i>
            <p>办公/后勤物资直采</p>
        </span>
    </div>
    <div id="certify">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="shop_con_warp">
                        <div class="shop_con_title">
                            <div class="shop_con_logo"><div class="shop_con_logoBg"></div><img src="<%= bankImg1 %>"></div>
                        </div>
                        <div class="shop_con_company">湖北省楚建易网络科技有限公司</div>
                        <div class="shop_con_des">主营：展示商家在维护公司信息页面填写的公司主营产品信息填写的公司主营产品信息</div>
                        <div class="shop_con_line"></div>
                        <ul class="shop_con_product clearfix">
                            <li>
                                <a href="javascript:;" class="shop_con_product_cell"><img src="<%= bankImg1 %>"><span class="shop_con_product_bg">MNS-L低压抽屉式开关柜...</span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="shop_con_product_cell"><img src="<%= bankImg1 %>"><span class="shop_con_product_bg">MNS-L低压抽屉式开关柜...</span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="shop_con_product_cell"><img src="<%= bankImg1 %>"><span class="shop_con_product_bg">MNS-L低压抽屉式开关柜...</span></a>
                            </li>
                        </ul>
                        <p class="shop_con_count">共<span class="textOrange">20件</span>商品</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop_con_warp">
                        <div class="shop_con_title">
                            <div class="shop_con_logo"><div class="shop_con_logoBg"></div><img src="<%= noPic %>"></div>
                        </div>
                        <div class="shop_noneBg">

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop_con_warp">
                        <div class="shop_con_title">
                            <div class="shop_con_logo"><div class="shop_con_logoBg"></div><img src="<%= noPic %>"></div>
                        </div>
                        <div class="shop_noneBg">

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop_con_warp">
                        <div class="shop_con_title">
                            <div class="shop_con_logo"><div class="shop_con_logoBg"></div><img src="<%= noPic %>"></div>
                        </div>
                        <div class="shop_noneBg">

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shop_con_warp">
                        <div class="shop_con_title">
                            <div class="shop_con_logo"><div class="shop_con_logoBg"></div><img src="<%= noPic %>"></div>
                        </div>
                        <div class="shop_noneBg">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="get_more">
        <a href="javascript:;">更多商品</a>
    </div>
</div>
<div class="jc_warp" id="supplychain">
    <h1 class="jc_title">供应链金场</h1>
    <p class="jc_des">—— 供应链融资撮合 ——</p>
    <div class="jc_nav">
        <span class="jc_nav_line"></span>
        <span class="jc_nav_cell">
            <span class="jc_nav_icon nav1"></span>
            <p>基于真实交易场景</p>
        </span>
        <span class="jc_nav_line"></span>
        <span class="jc_nav_cell">
            <span class="jc_nav_icon nav2"></span>
            <p>无缝衔接资金供需双方</p>
        </span>
        <span class="jc_nav_line"></span>
    </div>
    <div class="jc_bank_con">
        <ul>
            <li class="jc_bank_cell active">
                <div class="bank_f">
                    <img src="<%= bankImg1 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">中国建设银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg2 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">招商银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg3 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">交通银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg4 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">渤海银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg5 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">中信银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg6 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">工建国际租赁</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a href="#" class="jc_btn">更多金场服务商</a>
</div>
<div class="sf_warp" id="sanfang">
    <div class="sf_title">
        <span>三方招标</span>
    </div>
    <div class="sf_table">
        <table>
            <colgroup>
                <col width="400">
                <col width="150">
                <col width="300">
                <col width="120">
                <col width="180">
            </colgroup>
            <thead>
                <tr>
                    <th>招标名称</th>
                    <th>招标类型</th>
                    <th>发布单位</th>
                    <th>地区</th>
                    <th>发布时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="#" class="sf_btn">更多三方招标</a>
</div>
<div class="friend_warp" id="friend">
    <div class="friend_title">战略合作伙伴</div>
    <div class="friend_section">
        <div class="frien_name">采购商代表</div>
        <div class="friend_line"></div>
        <div class="friend_con">
            <span class="friend_con_cell">
                <img src="<%= fIcon1 %>">湖北国际经合
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon2 %>">湖北桥盛兴业
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon3 %>">武汉市政
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon4 %>">汉阳市政
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon5 %>">华天建设
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon6 %>">襄阳市政
            </span>
        </div>
    </div>
    <div class="friend_section">
        <div class="frien_name">供应商代表</div>
        <div class="friend_line"></div>
        <div class="friend_con">
            <span class="friend_con_cell">
                <img src="<%= fIcon7 %>" style="width:40px;height:40px;">盛隆电气
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon8 %>" style="width:40px;height:40px;">交投物流
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon19 %>" style="width:40px;height:40px;">中铁物资
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon10 %>">联发物资
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon11 %>">宏辉基业
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon12 %>">恒信国通
            </span>
        </div>
    </div>
    <div class="friend_section">
        <div class="frien_name">金场服务商代表</div>
        <div class="friend_line"></div>
        <div class="friend_con">
            <span class="friend_con_cell">
                <img src="<%= fIcon13 %>">中国建设银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon14 %>">招商银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon15 %>">交通银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon16 %>">中信银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon17 %>">渤海银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon18 %>">工建国际租赁
            </span>
        </div>
    </div>
</div>

<div class="anchor_warp">
    <ul>
        <li><a href="javascript:;" data-href="banner" class="active"></a></li>
        <li><a href="javascript:;" data-href="trend"></a></li>
        <li><a href="javascript:;" data-href="inquiry"></a></li>
        <li><a href="javascript:;" data-href="shop"></a></li>
        <li><a href="javascript:;" data-href="supplychain"></a></li>
        <li><a href="javascript:;" data-href="sanfang"></a></li>
        <li><a href="javascript:;" data-href="friend"></a></li>
    </ul>
</div>
