<!-- 轮播图 -->
<div class="banner_wrap js_slides">
    <div class="banner_bg js_slidesContainer">
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner1 %>)"></a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner1 %>)"></a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner1 %>)"></a>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none;">
            <a href="javascript:;" class="banner_item" style="background-image: url(<%= banner1 %>)"></a>
        </div>
    </div>
    <div class="carousel_dot js_pagination">
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
    </div>
    <div class="menu_member clearfix">
        <div class="menu_box"></div>
        <div class="member_wrap">
            <div class="member_box">
                <figure class="member_photo">
                    <i class="iconfont icon-yonghu"></i>
                    <!-- <img src="" alt=""> -->
                </figure>
                <div class="member_oprate">
                    <p>hi，欢迎来到直采商城</p>
                    <div class="member_btn">
                        <a class="company_login" href="javascript:;">企业登录</a>
                        <a class="reg_website" href="javascript:;">注册</a>
                    </div>
                    <!-- <div class="member_btn">
                        <a class="enter_center" href="javascript:;">进入企业中心</a>
                    </div> -->
                </div>
            </div>
            <div class="hot_news">
                <div class="hotnews_top clearfix">
                    <div class="hotnews_txt"></div>
                    <div class="hotnews_btn">
                        <i class="iconfont icon-zuojiantou"></i>
                        <span class="hotnews_point act_point"></span>
                        <span class="hotnews_point"></span>
                        <span class="hotnews_point"></span>
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                </div>
                <div class="hotnews_content">
                    <div class="hotnews_warp">
                        <ul class="hotnews_list">
                            <li class="hotnews_item ellipsis">
                                <span class="color_green">最新公告1</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告1</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告1</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告1</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告1</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告1</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                        </ul>
                        <ul class="hotnews_list">
                            <li class="hotnews_item ellipsis">
                                <span class="color_green">最新公告2</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告2</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告2</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告2</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告2</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告2</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                        </ul>
                        <ul class="hotnews_list">
                            <li class="hotnews_item ellipsis">
                                <span class="color_green">最新公告3</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告3</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告3</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告3</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告3</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                            <li class="hotnews_item ellipsis">
                                <span>最新公告3</span>
                                <a href="javascript:;" title="湖北省楚建易网络科技有限公司">湖北省楚建易网络科技有限公司</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 楼层 -->
<div id="floorWrap">
    <div style="text-align: center" v-if="loading">
        <div class="page_loading"></div>
    </div>
    <template v-for="(item,index) in list">
        <div v-if="index%2==0" class="floor_wrap floor_bg">
            <div class="floor_inner">
                <div class="floor_top">
                    <h3 class="floor_name">{{item.big_title}}</h3>
                    <div class="floor_cate">
                        <a v-for="cell in item.small_list" :href="cell.url">{{cell.name}}</a>
                    </div>
                </div>
                <div class="floor_box clearfix">
                    <div class="floor_type floor_1">
                        <img :src="staticPath+item.back_image">
                        <a class="floor_alink" href="javascript:;" title="黑色金属及制品">
                            <strong>{{item.title}}</strong>
                            <p>{{item.desc}}</p>
                        </a>
                    </div>
                    <div class="floor_right clearfix">
                        <div class="floor_one">
                            <a class="floor_lnk w256" :href="item.list[0].url">
                                <b>{{item.list[0].name}}</b>
                                <span></span>
                                <p>{{item.list[0].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[0].img_path" />
                                </div>
                            </a>
                            <a class="floor_lnk" :href="item.list[1].url">
                                <b>{{item.list[1].name}}</b>
                                <span></span>
                                <p>{{item.list[1].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[1].img_path" />
                                </div>
                            </a>
                            <a class="floor_lnk no_bottom" :href="item.list[2].url">
                                <b>{{item.list[2].name}}</b>
                                <span></span>
                                <p>{{item.list[2].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[2].img_path" />
                                </div>
                            </a>
                            <a class="floor_lnk w256 no_bottom no_right" :href="item.list[3].url">
                                <b>{{item.list[3].name}}</b>
                                <span></span>
                                <p>{{item.list[3].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[3].img_path" />
                                </div>
                            </a>
                        </div>
                        <div class="floor_two">
                            <a class="floor_lelnk" :href="item.list[4].url">
                                <img :src="item.list[4].img_path" />
                                <div class="lelnk_box blnk_txt">
                                    <b>{{item.list[4].name}}</b>
                                    <span></span>
                                    <p>{{item.list[4].des}}</p>
                                    <strong>了解更多</strong>
                                </div>
                            </a>
                            <div class="floor_rbox">
                                <a class="floor_lnk no_right" :href="item.list[5].url">
                                    <b>{{item.list[5].name}}</b>
                                    <span></span>
                                    <p>{{item.list[5].des}}</p>
                                    <div class="photo_box">
                                        <img :src="item.list[5].img_path" />
                                    </div>
                                </a>
                                <a class="floor_lnk no_right" :href="item.list[6].url">
                                    <b>{{item.list[6].name}}</b>
                                    <span></span>
                                    <p>{{item.list[6].des}}</p>
                                    <div class="photo_box">
                                        <img :src="item.list[6].img_path" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="floor_wrap">
            <div class="floor_inner">
                <div class="floor_top">
                    <h3 class="floor_name">{{item.big_title}}</h3>
                    <div class="floor_cate">
                        <a v-for="cell in item.small_list" :href="cell.url">{{cell.name}}</a>
                    </div>
                </div>
                <div class="floor_box clearfix">
                    <div class="floor_type floor_2">
                        <img :src="staticPath+item.back_image">
                        <a class="floor_alink" href="javascript:;" title="黑色金属及制品">
                            <strong>{{item.title}}</strong>
                            <p>{{item.desc}}</p>
                        </a>
                    </div>
                    <div class="floor_right clearfix">
                        <div class="floor_one">
                            <a class="floor_lnk" :href="item.list[0].url">
                                <b>{{item.list[0].name}}</b>
                                <span></span>
                                <p>{{item.list[0].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[0].img_path" />
                                </div>
                            </a>
                            <a class="floor_lnk w256" :href="item.list[1].url">
                                    <b>{{item.list[1].name}}</b>
                                    <span></span>
                                    <p>{{item.list[1].des}}</p>
                                    <div class="photo_box">
                                        <img :src="item.list[1].img_path" />
                                    </div>
                                </a>
                            <a class="floor_lnk w256 no_bottom" :href="item.list[2].url">
                                <b>{{item.list[2].name}}</b>
                                <span></span>
                                <p>{{item.list[2].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[2].img_path" />
                                </div>
                            </a>
                            <a class="floor_lnk no_bottom no_right" :href="item.list[3].url">
                                <b>{{item.list[3].name}}</b>
                                <span></span>
                                <p>{{item.list[3].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[3].img_path" />
                                </div>
                            </a>
                        </div>
                        <div class="floor_two">
                            <a class="floor_lnk" :href="item.list[4].url">
                                <b>{{item.list[4].name}}</b>
                                <span></span>
                                <p>{{item.list[4].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[4].img_path" />
                                </div>
                            </a>
                            <a class="floor_lnk no_right" :href="item.list[5].url">
                                <b>{{item.list[5].name}}</b>
                                <span></span>
                                <p>{{item.list[5].des}}</p>
                                <div class="photo_box">
                                    <img :src="item.list[5].img_path" />
                                </div>
                            </a>
                            <a class="floor_blnk" :href="item.list[6].url">
                                <img :src="item.list[6].img_path" />
                                <div class="blnk_box blnk_txt">
                                    <b>{{item.list[6].name}}</b>
                                    <span></span>
                                    <p>{{item.list[6].des}}</p>
                                    <strong>了解更多</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<!-- 右侧工具 -->
<div class="toolbar-menu">
    <ul class="toolbar-list">
        <li class="toolbar-item">
            <a class="toolbar-alink" href="javascript:;">
                <i class="iconfont icon-vip"></i>
            </a>
            <div class="toolbar-box">
                <span class="toolbar-txt">VIP会员服务</span>
            </div>
        </li>
        <li class="toolbar-item">
            <a class="toolbar-alink" href="javascript:;">
                <i class="iconfont icon-zhinanzhen"></i>
            </a>
            <div class="toolbar-box">
                <span class="toolbar-txt">新手入门</span>
            </div>
        </li>
        <li class="toolbar-item">
            <a class="toolbar-alink shop-cart" href="javascript:;">
                <i class="iconfont icon-gouwuche"></i>
                <strong class="goods-amount">3</strong>
            </a>
            <div class="toolbar-box">
                <span class="toolbar-txt">购物车</span>
            </div>
        </li>
        <li class="toolbar-item">
            <a class="toolbar-alink" href="javascript:;">
                <i class="iconfont icon-erweima"></i>
            </a>
            <div class="toolbar-box">
                <div class="qrcode-wrap">
                    <div class="qrcode-inner">
                        <img src="<%= kefuApp %>" alt="生材网二维码">
                        <p>扫描二维码下载APP</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="toolbar-item">
            <a class="toolbar-alink" href="javascript:;">
                <i class="iconfont icon-kefu1"></i>
            </a>
            <div class="toolbar-box">
                <div class="kefu-wrap">
                    <dl class="app-kefu">
                        <dt class="kefu-zixun">客户咨询：</dt>
                        <dd class="kefu-txt">027-82815329</dd>
                        <dt class="kefu-shou">售后服务：</dt>
                        <dd class="kefu-txt">027-82813259</dd>
                        <dt class="kefu-tousu">投诉电话：</dt>
                        <dd class="kefu-txt">027-82810705</dd>
                    </dl>
                </div>
            </div>
        </li>
        <li class="toolbar-item">
            <a class="toolbar-alink" href="javascript:;">
                <i class="iconfont icon-fankui"></i>
            </a>
            <div class="toolbar-box">
                <span class="toolbar-txt">用户反馈</span>
            </div>
        </li>
        <li class="toolbar-item" style="display: none;">
            <a class="toolbar-alink backtop" href="javascript:;">
                <i class="iconfont icon-huidaodingbu"></i>
            </a>
            <div class="toolbar-box">
                <span class="toolbar-txt">回到顶部</span>
            </div>
        </li>
    </ul>
</div>
<!-- 购物车侧栏 -->
<div class="cart-box">
    <div class="cart-box-inner">
        <dl class="cart-header clearfix">
            <dt>购物车</dt>
            <dd>
                <i class="iconfont icon-cha1 close-cart"></i>
            </dd>
        </dl>
        <div class="cart-container">
            <div class="no-result">
                <div class="noresult-tips">
                    <p>
                        <i class="iconfont icon-i"></i>您还没有登录，请先登录再查看商品&nbsp;<a href="javascript:;">登录</a>
                    </p>
                </div>
                <div class="noresult-goods">
                    <div>
                        <figure class="goods-default">
                            <img src="<%= noCart %>">
                            <figcaption>购物车还没有商品哦快去选购吧~</figcaption>
                        </figure>
                        <a class="go_home" href="javascript:;">去首页</a>
                    </div>
                </div>
            </div>
            <!-- <div class="cart-list">
                <ul>
                    <li class="cart-item">
                        <div class="cart-inner clearfix">
                            <figure class="cart-photo">
                                <img src="<%= listDemo %>" />
                            </figure>
                            <div class="cart-intro">
                                <a class="cart-link" href="javascript:;">楚建易厂家直销Q195-235镀锌管DN300煤气油井消防...</a>
                                <div class="cart-info">
                                    <p class="cart-data"><strong>￥28.00</strong>&nbsp;×&nbsp;<span>1</span></p>
                                    <a class="cart-del" href="javascript:;">删除</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cart-item off-shelf">
                        <div class="cart-inner clearfix">
                            <figure class="cart-photo">
                                <img src="<%= listDemo %>" />
                            </figure>
                            <div class="cart-intro">
                                <a class="cart-link" href="javascript:;">楚建易厂家直销Q195-235镀锌管DN300煤气油井消防...</a>
                                <div class="cart-info">
                                    <span class="shelf-state">下架</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="cart-inner clearfix">
                            <figure class="cart-photo">
                                <img src="<%= listDemo %>" />
                            </figure>
                            <div class="cart-intro">
                                <a class="cart-link" href="javascript:;">楚建易厂家直销Q195-235镀锌管DN300煤气油井消防...</a>
                                <div class="cart-info">
                                    <p class="cart-data"><strong>￥28.00</strong>&nbsp;×&nbsp;<span>1</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="cart-bottom clearfix">
            <dl class="add-up-box">
                <dt><span class="highlight">0</span>件商品</dt>
                <dd>共计：<span class="highlight">￥99999999.99</span></dd>
            </dl>
            <a class="settle-bill" href="javascript:;">去结算<i class="iconfont icon-youjiantou-xi"></i></a>
        </div>
    </div>
</div>