<div class="banner_wrap">
    <div class="banner_bg"></div>
</div>
<div class="main_wrap">
    <div class="main">
        <ul class="provider_list clearfix">
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
            <li class="provider_item">
                <div class="provider_img">
                    <img src="<%= provider01 %>">
                </div>
                <div class="provider_inner">
                    <div class="bank_img_area">
                        <img class="bank_img" src="<%= bank01 %>">
                    </div>
                    <div class="product_area">
                        <a class="product_link" href="javascript:;">
                            <h3 class="ellipsis" title="中信银行">中信银行</h3>
                            <p>我们旨在赋能企业改变营销、销售和经营的方式。我们为商家、品牌及其他企业提供基本的互联网基础设施以及营销平台，让其可借助互联网的力量与用户和客户互动。我们的业务包括核心电商、云计算...</p>
                            <span class="provider_line"></span>
                            <div class="product_total">共5个产品</div>
                        </a>
                    </div>
                    <div class="shop_area">
                        <a class="enter_shop" href="javascript:;">进入店铺</a>
                    </div>
                </div>
            </li>
        </ul>
        <div id="pages">
            <%= pageNav %>
        </div>
    </div>
</div>