<div class="sList_banner">
    <div class="sList_banner_con">
        <div class="shop_logo">
            <img src="<%= logo %>">
        </div>
        <div class="shop_name">
            <p class="fontSize24 textBlack1">昆山金誉盛钢金属材料有限公司 </p>
            <p class="fontSize12 marginT10">主营：五金工具，钉子，地板钉，手套，安全帽，安全帽，安全帽，安全帽，安全帽，安全帽，安全帽，安全帽...</p>
        </div>
        <div class="shop_tel">
            <div class="telBg"></div>
            <div class="telCon"><i class="iconfont icon-dianhua"></i>13498760987 / 杨洋</div>
        </div>
    </div>
</div>
<div class="sList_nav">
    <div class="sList_nav_con">
        <a href="#" class="sList_nav_cell">主营产品</a>
        <a href="#" class="sList_nav_cell active">公司简介</a>
    </div>
</div>
<div class="shop_big_bg"></div>
<div class="shop_intro_wrap">
    <div class="shop_intro_inner">
        <div class="intro_title">
            <span class="line_left"></span>
            <h3>公司简介</h3>
            <span class="line_right"></span>
        </div>
        <div class="intro_article">
            <p>昆山金誉盛钢金属材料有限公司是模具钢 合金结构钢、碳素钢、弹簧钢、齿轮钢、轴承钢、合金铜材 合金铝材 不锈钢 金属材料等产品专业生产加工的公司，拥有完整、科学的质量管理体系。昆山金誉盛钢金属材料有限公司的诚信、实力和产品质量获得业界的认可。欢迎各界朋友莅临参观、指导和业务洽谈。昆山金誉盛钢金属材料有限公司落座于环境优美、交通便利并有着十大卫生城市之称的江苏省昆山。公司面向国内外各大中小型企业，长期以来一直以冷拉钢型材、合金结构钢、齿轮钢、碳结钢、轴承钢、弹簧钢等以主要批发销售。公司可按客户需要订做各种规格。公司自创立以来一直秉承“诚信、务实、高效、创新”的企业精神，将这一精神融入到企业的经营管理和工作实践当中，并获得了社会各界信任与尊重。我公司先后多次被评为“昆山市钢材营销企业五十强”，“全国百强钢材营销企业”，被中国质量检验协会评为“全国质量服务诚信示范企业”及“全国行业质量示范企业”。公司始终坚持质量求生存、用户至上的信念和“追求卓越、打造精品”的经营理念，以优质的产品、合理的价格，竭诚为广大客户提供优良的服务并和大家取得更好的经济效益，欢迎国内外客户前洽谈合作，我们将竭诚为你服务，共创美好的未来。</p>
        </div>
        <div class="intro_title">
            <span class="line_left"></span>
            <h3>公司信息</h3>
            <span class="line_right"></span>
        </div>
        <div class="company_info">
            <div class="info_item pro_dl">
                <dl>
                    <dt>主营产品</dt>
                    <dd class="w838">五金工具，钉子，地板，手套，安全帽金工，钉子，地板钉，手套，安全帽</dd>
                </dl>
            </div>
            <div class="info_item">
                <dl>
                    <dt>公司规模</dt>
                    <dd class="w240">50-100人</dd>
                    <dt>注册资金</dt>
                    <dd class="w396">1000万</dd>
                </dl>
                <dl>
                    <dt>企业类型</dt>
                    <dd class="w240">国有企业</dd>
                    <dt>纳税人类型</dt>
                    <dd class="w396">一般纳税人</dd>
                </dl>
            </div>
            <div class="info_item">
                <dl>
                    <dt>联系人</dt>
                    <dd class="w240">杨洋</dd>
                    <dt>公司地址</dt>
                    <dd class="w396">湖北省武汉市江岸区</dd>
                </dl>
                <dl>
                    <dt>手机</dt>
                    <dd class="w240">13476103436</dd>
                    <dt>QQ</dt>
                    <dd class="w396">761038602</dd>
                </dl>
                <dl>
                    <dt>企业邮箱</dt>
                    <dd class="w240">sevices@qq.com</dd>
                    <dt>官网</dt>
                    <dd class="w396">www.baidu.com</dd>
                </dl>
            </div>
        </div>
        <div class="intro_title">
            <span class="line_left"></span>
            <h3>认证资料</h3>
            <span class="line_right"></span>
        </div>
        <div class="cert_box">
            <div class="cert_btn_box">
                <span class="cert_left">
                    <i class="iconfont icon-zuojiantou-xi"></i>
                </span>
                <span class="cert_right">
                    <i class="iconfont icon-youjiantou-xi"></i>
                </span>
            </div>
            <div class="cert_photo_box">
                <div class="cert_wall clearfix">
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                    <figure class="cert_item">
                        <img src="<%= photo01 %>" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>