<div class="banner_wrap js_slides">
    <div class="banner_bg js_slidesContainer">
        <div class="slides_cell js_slidesCell" style="z-index: 1; display: block">
            <div class="banner_item" style="background-image: url(<%= banner1 %>)">
            </div>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none">
            <div class="banner_item" style="background-image: url(<%= banner1 %>)">
            </div>
        </div>
        <div class="slides_cell js_slidesCell" style="z-index: 0; display: none">
            <div class="banner_item" style="background-image: url(<%= banner1 %>)">
            </div>
        </div>
    </div>
    <div class="carousel_dot js_pagination">
        <a href="javascript:;" class="carousel_dot_span active"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
        <a href="javascript:;" class="carousel_dot_span"></a>
    </div>
</div>
<div class="module_item_wrap">
    <div class="module_item_inner clearfix">
        <div class="process_enter">
            <div class="process_item">
                <div class="module_title">
                    <h3>使用流程</h3>
                    <span></span>
                </div>
                <div class="process_chart">
                    <span class="flow_line"></span>
                    <div class="flow_chart">
                        <div class="flow_item">
                            <img src="<%= flow01 %>">
                            <span class="flow_num">- 01 -</span>
                            <span class="flow_txt">寻找合适产品</span>
                        </div>
                        <div class="flow_item">
                            <img src="<%= flow02 %>">
                            <span class="flow_num">- 02 -</span>
                            <span class="flow_txt">点击有意向</span>
                        </div>
                        <div class="flow_item">
                            <img src="<%= flow03 %>">
                            <span class="flow_num">- 03 -</span>
                            <span class="flow_txt">等待资金方联系</span>
                        </div>
                        <div class="flow_item">
                            <img src="<%= flow04 %>">
                            <span class="flow_num">- 04 -</span>
                            <span class="flow_txt">线下成单</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="enter_item">
                <div class="module_title">
                    <h3>服务商入驻</h3>
                    <span></span>
                </div>
                <ul class="enter_list">
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link ellipsis" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link ellipsis" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link ellipsis" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link ellipsis" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link ellipsis" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link ellipsis" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                    <li class="enter_li">
                        <b class="enter_circle"></b>
                        <a class="enter_link ellipsis" href="javascript:;">热烈欢迎中信银行入驻供应链金场</a>
                        <span class="enter_time">10-19</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="prodct_online">
            <div class="module_title">
                <h3>新产品上线</h3>
                <span></span>
                <a class="module_link change_batch" href="javascript:;">换一批<i class="iconfont icon-shuaxin"></i></a>
            </div>
            <div class="prodcut_list_wrap clearfix">
                <div class="prodcut_list">
                    <div class="product_item bounce_to_right1">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                    <div class="product_item color_one bounce_to_right2">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                    <div class="product_item color_two bounce_to_right3">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                    <div class="product_item bounce_to_right1">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                    <div class="product_item color_one bounce_to_right2">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                    <div class="product_item color_two bounce_to_right3">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                    <div class="product_item bounce_to_right1">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                    <div class="product_item color_one bounce_to_right2">
                        <div class="product_circle"></div>
                        <a class="product_dynamic" href="javascript:;">
                            <div class="dynamic_title">
                                <h3 class="ellipsis">中信银行-经销商动态融资</h3>
                                <span>09-23</span>
                            </div>
                            <p class="dynamic_info ellipsis">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="dynamic_intro">
                                <b>100-200万贷款金额</b>
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module_item_wrap bgf7">
    <div class="module_item_inner clearfix">
        <div class="module_title">
            <h3>产品推荐</h3>
            <span></span>
            <a class="module_link" href="javascript:;">更多<i class="iconfont icon-youjiantou"></i></a>
        </div>
        <ul class="recommend_list clearfix">
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
            <li class="recommend_item">
                <div class="recommend_content">
                    <a class="product_link" href="javascript:;">
                        <img class="" src="<%= product01 %>">
                        <div class="product_cell">
                            <h3 class="ellipsis" title="经销商动态融资">经销商动态融资</h3>
                            <p title="经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式">经销商动态融资是指我行以处于交易链中核心卖方企业的履约能力及增信方增信式为依方增信式</p>
                            <div class="product_intro">
                                <b>6-12还款期</b>
                                <b>8%贷款年利率</b>
                                <b>100-200万贷款金额</b>
                            </div>
                        </div>
                    </a>
                    <div class="bank_area">
                        <a class="bank_link" href="javascript:;" title="中信银行">
                            <span>中信银行</span>
                            <img src="<%= logo01 %>">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="module_item_wrap">
    <div class="module_item_inner clearfix">
        <div class="module_title">
            <h3>战略合作伙伴</h3>
            <span></span>
        </div>
        <ul class="parter_list clearfix">
            <li class="parter_item">
                <a class="parter_link" href="javascript:;">
                    <img src="<%= bank01 %>">
                    <span>中国建设银行</span>
                </a>
            </li>
            <li class="parter_item">
                <a class="parter_link" href="javascript:;">
                    <img src="<%= bank02 %>">
                    <span>招商银行</span>
                </a>
            </li>
            <li class="parter_item">
                <a class="parter_link" href="javascript:;">
                    <img src="<%= bank03 %>">
                    <span>交通银行</span>
                </a>
            </li>
            <li class="parter_item">
                <a class="parter_link" href="javascript:;">
                    <img src="<%= bank04 %>">
                    <span>中信银行</span>
                </a>
            </li>
            <li class="parter_item">
                <a class="parter_link" href="javascript:;">
                    <img src="<%= bank05 %>">
                    <span>渤海银行</span>
                </a>
            </li>
            <li class="parter_item">
                <a class="parter_link" href="javascript:;">
                    <img src="<%= bank06 %>">
                    <span>工建国际租赁</span>
                </a>
            </li>
        </ul>
    </div>
</div>