<div class="jc_warp">
    <h1 class="jc_title">供应链金场</h1>
    <p class="jc_des">—— 供应链融资撮合 ——</p>
    <div class="jc_nav">
        <span class="jc_nav_line"></span>
        <span class="jc_nav_cell">
            <span class="jc_nav_icon nav1"></span>
            <p>基于真实交易场景</p>
        </span>
        <span class="jc_nav_line"></span>
        <span class="jc_nav_cell">
            <span class="jc_nav_icon nav2"></span>
            <p>无缝衔接资金供需双方</p>
        </span>
        <span class="jc_nav_line"></span>
    </div>
    <div class="jc_bank_con">
        <ul>
            <li class="jc_bank_cell active">
                <div class="bank_f">
                    <img src="<%= bankImg1 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">中国建设银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg2 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">招商银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg3 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">交通银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg4 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">渤海银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg5 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">中信银行</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
            <li class="jc_bank_cell">
                <div class="bank_f">
                    <img src="<%= bankImg6 %>">
                    <span class="cell_line"></span>
                    <span class="bank_name">工建国际租赁</span>
                </div>
                <div class="bank_b">
                    <h1 class="bank_title">中国建设银行</h1>
                    <span class="bank_title_line"></span>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                    <div class="bank_des_line"></div>
                    <div class="bank_des_con">
                        <p class="bank_des_title">/ 动产质押融资 /</p>
                        <span class="bank_des_item">6-12还款期</span>
                        <span class="bank_des_item">8%贷款年利率</span>
                        <span class="bank_des_item">10-100万贷款金额</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a href="#" class="jc_btn">更多金场服务商</a>
</div>
<div class="show_warp">
    <h1 class="show_title">直采商城</h1>
    <p class="show_des">—— 一站式直采商城 ——</p>
    <div class="shop_nav clearfix">
        <span class="shop_nav_cell">
            <i class="iconfont icon-kuaijieruzhu"></i>
            <p>商家店铺快捷入驻</p>
        </span>
        <span class="shop_nav_cell">
            <i class="iconfont icon-sanfangzhifu"></i>
            <p>三方担保支付</p>
        </span>
        <span class="shop_nav_cell">
            <i class="iconfont icon-zhucailingcai"></i>
            <p>工程项目主材/辅材零采</p>
        </span>
        <span class="shop_nav_cell">
            <i class="iconfont icon-bangongyongpin"></i>
            <p>办公/后勤物资直采</p>
        </span>
        <span class="shop_nav_cell">
            <i class="iconfont icon-jingdong"></i>
            <p>京东专区</p>
        </span>
    </div>
    <div class="shop_noneBg"></div>
</div>
<div class="sf_warp">
    <div class="sf_title">
        <span>三方招标</span>
    </div>
    <div class="sf_table">
        <table>
            <colgroup>
                <col width="400">
                <col width="150">
                <col width="300">
                <col width="120">
                <col width="180">
            </colgroup>
            <thead>
                <tr>
                    <th>招标名称</th>
                    <th>招标类型</th>
                    <th>发布单位</th>
                    <th>地区</th>
                    <th>发布时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
                <tr>
                    <td><a href="" class="sf_name">[新余市本级]新余市公共资源交易中心政府采购部关于部关于部关于部关于</a></td>
                    <td>询比价</td>
                    <td>新余市公共资源交易中心政府采购部</td>
                    <td>江西省</td>
                    <td>2018-10-23</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="#" class="sf_btn">更多三方招标</a>
</div>
<div class="friend_warp">
    <div class="friend_title">战略合作伙伴</div>
    <div class="friend_section">
        <div class="frien_name">采购商代表</div>
        <div class="friend_line"></div>
        <div class="friend_con">
            <span class="friend_con_cell">
                <img src="<%= fIcon1 %>">湖北国际经合
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon2 %>">湖北桥盛兴业
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon3 %>">武汉市政
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon4 %>">汉阳市政
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon5 %>">华天建设
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon6 %>">襄阳市政
            </span>
        </div>
    </div>
    <div class="friend_section">
        <div class="frien_name">供应商代表</div>
        <div class="friend_line"></div>
        <div class="friend_con">
            <span class="friend_con_cell">
                <img src="<%= fIcon7 %>">江苏国强
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon8 %>">江苏苏博特
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon9 %>">鄂钢贸易
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon10 %>">联发物资
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon11 %>">宏辉基业
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon12 %>">柳州欧维姆
            </span>
        </div>
    </div>
    <div class="friend_section">
        <div class="frien_name">金场服务商代表</div>
        <div class="friend_line"></div>
        <div class="friend_con">
            <span class="friend_con_cell">
                <img src="<%= fIcon13 %>">中国建设银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon14 %>">招商银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon15 %>">交通银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon16 %>">中信银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon17 %>">渤海银行
            </span>
            <span class="friend_con_cell">
                <img src="<%= fIcon18 %>">工建国际租赁
            </span>
        </div>
    </div>
</div>