<div class="findgys_wrap">
    <div class="findgys_inner clearfix">
        <div class="findgys_show_location">
            <a class="show_location" href="javascript:;">
                <div class="show_location_img">
                    <img src="<%= displayImg1 %>">
                </div>
                <p class="show_location_txt bg_red">镇江国建</p>
            </a>
        </div>
        <div class="carousel_box js_slides">
            <div class="carousel_box_inner">
                <div class="carousel_container clearfix js_slidesContainer">
                    <a class="carousel_link js_slidesCell" href="javascript:;" style="z-index: 1; display: block;">
                        <img src="<%= carouselImg %>" />
                    </a>
                    <a class="carousel_link js_slidesCell" href="javascript:;" style="z-index: 0; display: none;">
                        <img src="<%= carouselImg %>" />
                    </a>
                    <a class="carousel_link js_slidesCell" href="javascript:;" style="z-index: 0; display: none;">
                        <img src="<%= carouselImg %>" />
                    </a>
                    <a class="carousel_link js_slidesCell" href="javascript:;" style="z-index: 0; display: none;">
                        <img src="<%= carouselImg %>" />
                    </a>
                </div>
            </div>
            <div class="carousel_dot js_pagination">
                <a href="javascript:;" class="carousel_dot_span active"></a>
                <a href="javascript:;" class="carousel_dot_span"></a>
                <a href="javascript:;" class="carousel_dot_span"></a>
                <a href="javascript:;" class="carousel_dot_span"></a>
            </div>
        </div>
        <div class="findgys_show_location">
            <a class="show_location" href="javascript:;">
                <div class="show_location_img">
                    <img src="<%= displayImg2 %>">
                </div>
                <p class="show_location_txt bg_green">上海昌敬实业</p>
            </a>
        </div>
    </div>
</div>
<div class="placeholder_box">
    <div class="company_huawen">
        <span class="triangle_left"></span>
        <span class="triangle_right"></span>
    </div>
    <div class="company_position_area">
        <ul class="company_position_inner">
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo1 %>" />
                    <span class="ellipsis">武钢绿色城市建设</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo2 %>" />
                    <span class="ellipsis">贵州国辉</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo3 %>" />
                    <span class="ellipsis">杭州中广</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo4 %>" />
                    <span class="ellipsis">上海昌敬实业</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo5 %>" />
                    <span class="ellipsis">镇江国建</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo1 %>" />
                    <span class="ellipsis">武钢绿色城市建设</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo2 %>" />
                    <span class="ellipsis">贵州国辉</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo3 %>" />
                    <span class="ellipsis">杭州中广</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo4 %>" />
                    <span class="ellipsis">上海昌敬实业</span>
                </a>
            </li>
            <li class="company_position_item">
                <a href="javascript:;">
                    <img src="<%= companyLogo5 %>" />
                    <span class="ellipsis">镇江国建</span>
                </a>
            </li>
        </ul>
        <div class="scroll_btn">
            <span class="scroll_left">
                <i class="btn_left_icon iconfont icon-zuojiantou"></i>
            </span>
            <span class="scroll_right">
                <i class="btn_right_icon iconfont icon-youjiantou"></i>
            </span>
        </div>
    </div>
</div>
<div class="findgys_main clearfix" id="findgys">
    <div class="findgys_side">
        <h3>按供应物资分类</h3>
        <ul class="side_nav_ul">
            <li class="side_nav_one">
                <a class="side_nav_alink" class="" href="javascript:;"><span class="ellipsis">全部</span></a>
            </li>
            <li class="side_nav_one">
                <a class="side_nav_alink" href="javascript:;"><span class="ellipsis">装饰装修</span><i class="iconfont icon-xiajiantou"></i></a>
            </li>
            <li class="side_nav_one">
                <a class="side_nav_alink" href="javascript:;"><span class="ellipsis">电气工程</span><i class="iconfont icon-xiajiantou"></i></a>
            </li>
            <li class="side_nav_one layer_one">
                <a class="side_nav_alink" href="javascript:;"><span class="ellipsis">给排水材料</span><i class="iconfont icon-shangjiantou"></i></a>
                <dl class="side_nav_dl">
                    <dd class="side_nav_two layer_two">
                        <a class="side_two_alink" href="javascript:;"><span class="ellipsis">管材</span><i class="iconfont icon-shangjiantou"></i></a>
                        <div class="side_nav_three">
                            <a class="active" href="javascript:;"><span class="ellipsis">泵、供水设备</span></a>
                            <a href="javascript:;"><span class="ellipsis">消防器材</span></a>
                        </div>
                    </dd>
                    <dd class="side_nav_two">
                        <a class="side_two_alink" href="javascript:;"><span class="ellipsis">阀门</span><i class="iconfont icon-shangjiantou"></i></a>
                    </dd>
                    <dd class="side_nav_two">
                        <a class="side_two_alink" href="javascript:;"><span class="ellipsis">洁具及燃气器具</span></a>
                    </dd>
                </dl>
            </li>
            <li class="side_nav_one">
                <a class="side_nav_alink" href="javascript:;"><span class="ellipsis">消防燃气</span><i class="iconfont icon-xiajiantou"></i></a>
            </li>
            <li class="side_nav_one">
                <a class="side_nav_alink" href="javascript:;"><span class="ellipsis">采暖通风</span><i class="iconfont icon-xiajiantou"></i></a>
            </li>
        </ul>
    </div>
    <div class="finggys_search">
        <select name="province_code">
            <option value="">不限省份</option>
        </select>
        <select name="city_code">
            <option value="">不限市/州</option>
        </select>
        <input type="text" name="company_name" class="cjy-input-" placeholder="输入供应商名称"/>
        <button>搜索</button>
    </div>
    <div class="findgys_list">
        <div class="findgys_tab_inner">
            <div class="tabs_select">
                <span order="is_apply" class="active">默认排序<i class="iconfont icon-xiajiantou1"></i></span>
                <span order="supply_times" class="marginL20">历史中标次数<i class="iconfont icon-xiajiantou1"></i></span>
                <span order="size" class="marginL20">公司规模<i class="iconfont icon-xiajiantou1"></i></span>
                <span order="business_volume" class="marginL20">年营业额<i class="iconfont icon-xiajiantou1"></i></span>
            </div>
        </div>
        <div style="text-align: center" v-if="loading"><div class="page_loading"></div></div>
        <div class="findgys_item_content page_list" v-if="list.length>0">
            <div class="findgys_item clearfix" v-for="item in list">
                <div class="findgys_item_left">
                    <i class="iconfont icon-xunzhang"></i>
                    <strong>{{item.supply_times}}</strong>
                    <span>历史中标</span>
                </div>
                <div class="findgys_item_right">
                    <a target="_blank" :href="'/supply/detail/'+item.company_id+'.html'">{{item.company_name}}<i class="iconfont icon-vip" v-if="item.is_apply=='1'"></i></a>
                    <p class="findgys_info">
                        <span>年营业额：</span>
                        <span>{{item.business_volume}}</span>
                        <span class="marginL20">公司地址：</span>
                        <span>{{item.province}}-{{item.city}}</span>
                        <span class="marginL20">联系方式：</span>
                        <span><img :src="item.company_phone"></span>
                    </p>
                    <p class="operat_type" style="width: 700px;">
                        <b v-for="score in item.product_list">{{score.cata_name}}</b>
                    </p>
                </div>
            </div>
        </div>
        <div style="text-align: center" v-else><div class="page_list_noneBg"></div><p class="page_list_noneCon" style="width: 100%;margin-bottom: 60px;font-size: 24px;color: #999;text-align: center;">没有找到相关内容</p></div>
        <div id="pages">
            <vue-page @get-list="getGys" :count="count" :limit="10" v-if="list.length>0"></vue-page>
        </div>
    </div>
</div>