<%= header %>
<div id="wrapper">
    <%= topNav %>
    <%= topMenu %>
    <div class="back_wrapper">
        <div class="back_contain">
            <%= content %>
        </div>
    </div>
    <%= bottomFooter %>
</div>
<%= footer %>