<div class="pDetail_warp">
    <div class="pDetail_container">
        <div class="pDetail_crumbs">
            <a href="#">首页</a>
            <i class="iconfont icon-youjiantou"></i>
            <a href="#">一级分类</a>
            <i class="iconfont icon-youjiantou"></i>
            <a href="#">二级分类</a>
            <i class="iconfont icon-youjiantou"></i>
            <a href="#">三级分类</a>
            <i class="iconfont icon-youjiantou"></i>
            <span class="textBlack3">品名</span>
        </div>
        <div class="pDetail_body clearfix">
            <div class="pDetail_body_left">
                <div class="pDetail_body_pic">
                    <div class="pDetail_pic_big">
                        <img class="big_photo" src="https://file.dev.materialw.com/photo/group1/M00/00/0A/CgUFDlvtuReATOdRAAEW-QrWnxg95.jpeg?w=378&h=378">
                        <div class="maskImg"></div>
                    </div>
                    <div class="magnifierImg">
                        <img src="https://file.dev.materialw.com/group1/M00/00/0A/CgUFDlvtuReATOdRAAEW-QrWnxg95.jpeg">
                    </div>
                    <ul class="pDetail_pic_list">
                        <li class="active"><a href="javascript:;"><img src="<%= bigPic %>"></a></li>
                        <li><a href="javascript:;"><img src="<%= bigPic %>"></a></li>
                        <li><a href="javascript:;"><img src="<%= bigPic %>"></a></li>
                        <li><a href="javascript:;"><img src="<%= bigPic %>"></a></li>
                        <li><a href="javascript:;"><img src="<%= bigPic %>"></a></li>
                    </ul>
                </div>
                <div class="pDetail_body_des">
                    <p class="pDetail_body_title">
                        楚建易厂家直销Q195-235镀锌管DN300煤气油井消防排水暖（商家发布商品标题）
                    </p>
                    <div class="pDetail_body_money">
                        <ul class="ladder_title clearfix">
                            <li class="money_title">
                                <p>单价</p>
                                <p>起订价</p>
                            </li>
                        </ul>
                        <div class="ladder_box">
                            <ul class="ladder_area clearfix" style="left: 0;">
                                <li class="money_con">
                                    <p>￥<span class="money">139.00</span></p>
                                    <p class="fontSize12 textBlack1">100-499 片</p>
                                </li>
                                <li class="money_con">
                                    <p>￥<span class="money">139.00</span></p>
                                    <p class="fontSize12 textBlack1">100-499 片</p>
                                </li>
                                <li class="money_con">
                                    <p>￥<span class="money">139.00</span></p>
                                    <p class="fontSize12 textBlack1">100-499 片</p>
                                </li>
                                <li class="money_con">
                                    <p>￥<span class="money">139.00</span></p>
                                    <p class="fontSize12 textBlack1">100-499 片</p>
                                </li>
                                <li class="money_con">
                                    <p>￥<span class="money">139.00</span></p>
                                    <p class="fontSize12 textBlack1">100-499 片</p>
                                </li>
                            </ul>
                            <span class="money_left iconfont icon-zuojiantou"></span>
                            <span class="money_right iconfont icon-youjiantou"></span>
                        </div>
                    </div>
                    <div class="pDetail_body_sel">
                        <div class="pDetail_item">
                            <label>仓库</label>
                            <span>阳逻库<span class="textBlack3">（湖北-武汉）</span></span>
                            <a href="javascript:;" class="marginL20"><i class="iconfont icon-ditu"></i>查看地图</a>
                            <a href="javascript:;" class="marginL20"><i class="iconfont icon-huoche"></i>运输说明</a>
                        </div>
                        <div class="pDetail_item">
                            <label>品牌</label>
                            <span>普达</span>
                        </div>
                        <div class="pDetail_filter">
                            <div class="pDetail_item marginT10 marginB20 clearfix">
                                <label>规格</label>
                                <div class="pDetail_item_con">
                                    <ul class="clearfix">
                                        <li class="pDetail_cell">
                                            <a class="checked" href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                    </ul>
                                    <a href="javascript:;" class="pDetail_getMore goUp"><i class="iconfont icon-xiajiantou"></i></a>
                                </div>
                            </div>
                            <div class="pDetail_item marginT10 marginB20 clearfix">
                                <label>其他属性</label>
                                <div class="pDetail_item_con">
                                    <ul class="clearfix">
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;" class="checked"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>属性值</a>
                                        </li>
                                        <li class="pDetail_cell">
                                            <a href="javascript:;"><i></i>这是一条很长很长很长的属性值</a>
                                        </li>
                                    </ul>
                                    <a href="javascript:;" class="pDetail_getMore goUp"><i class="iconfont icon-xiajiantou"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="pDetail_item marginB20">
                            <label>采购量</label>
                            <span class="pDetail_num">
                                <a href="javascript:;" class="iconfont icon-jian8 disable"></a>
                                <input type="text">
                                <a href="javascript:;" class="iconfont icon-jiahao1"></a>
                            </span>
                            <span><i class="iconfont icon-i"></i>起订量为200片，<span class="textOrange">1200片</span>可售</span>
                        </div>
                        <div class="pDetail_item marginB20">
                            <label>支付方式</label>
                            <a href="javascript:;"><i class="iconfont icon-zhifu"></i>线上支付</a>
                        </div>
                        <div class="pDetail_item">
                            <label></label>
                            <a href="javascript:;" class="pDetail_goCart">加入购物车</a>
                            <a href="javascript:;" class="pDetail_goPay marginL20">去购物车结算</a>
                            <div class="ball-wrap">
                                <div class="ball-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pDetail_body_right">
                <div class="pDetail_right_top"></div>
                <div class="pDetail_company">
                    <a href="#" class="pDetail_logo">
                        <img src="<%= logo %>">
                        <i class="iconfont icon-vip"></i>
                    </a>
                    <a href="#" class="pDetail_cName">湖北省楚建易...有限公司</a>
                </div>
                <div class="pDetail_attr">
                    <div class="pDetail_attr_title"><span class="pDetail_attr_line floatL"></span>主营产品<span class="pDetail_attr_line floatR"></span></div>
                    <div class="pDetail_attr_des">钉子类，五金类，PPT管 道，螺丝，超出省略...</div>
                </div>
                <div class="pDetail_attr">
                    <div class="pDetail_attr_title"><span class="pDetail_attr_line floatL"></span>公司类型<span class="pDetail_attr_line floatR"></span></div>
                    <div class="pDetail_attr_des">生产制造企业</div>
                </div>
                <div class="pDetail_attr">
                    <div class="pDetail_attr_title"><span class="pDetail_attr_line floatL"></span>所在地区<span class="pDetail_attr_line floatR"></span></div>
                    <div class="pDetail_attr_des">湖北省武汉市江岸区</div>
                </div>
                <div class="pDetail_attr">
                    <div class="pDetail_attr_title"><span class="pDetail_attr_line floatL"></span>联系人<span class="pDetail_attr_line floatR"></span></div>
                    <div class="pDetail_attr_des">张三 / 13987647563</div>
                </div>
                <a href="javascript:;" class="pDetail_qq"><i class="iconfont icon-QQ"></i>立即咨询</a>
                <a href="#" class="pDetail_goShop">进入店铺</a>
            </div>
        </div>
        <div class="pDetail_footer">
            <div class="pDetail_tab_con">
                <ul class="clearfix">
                    <li><a href="javascript:;" class="pDetail_tab_cell">商品详情</a></li>
                    <li class="active"><a href="javascript:;" class="pDetail_tab_cell">评价 (<span>0</span>)</a></li>
                </ul>
            </div>
            <div class="pDetail_show_con">
                <div class="pDetail_show_detail" style="display:none;"></div>
                <div class="pDetail_show_comment" id="commentList">
                    <div class="comment_top">
                        <span class="textBlack1">商品满意度</span>
                        <span :class="'bigStarBg bStar'+intLevel+'-'+floatLevel"></span>
                    </div>
                    <div style="text-align: center" v-if="loading">
                        <div class="page_loading"></div>
                    </div>
                    <ul class="comment_con" v-if="list.length>0">
                        <li class="comment_cell clearfix" v-for="item in list">
                            <label><i class="caiIcon"></i>{{item.buyer_company_name}}</label>
                            <div class="comment_detail">
                                <span :class="'smallStarBg sStar'+item.satisfaction_level+'-0'"></span>
                                <div class="comment">{{item.describe}}</div>
                                <div class="imgs">
                                    <a href="javascript:;" v-for="cell in item.describe_url"><img class="imgCell" :src="imgPath+cell"></a>
                                </div>
                                <div class="showBimg">
                                    <img src="">
                                </div>
                                <div class="tips"><span>数量：{{item.amount}}个</span><span>{{item.add_date}}</span></div>
                            </div>
                            <div class="comment_count">
                                <p class="fontSize20 textOrange">{{item.amount_total>10000?parseInt(item.amount_total/10000)+'W+':item.amount_total}}个</p>
                                <p class="fontSize12 textBlack3">累计采购</p>
                            </div>
                        </li>
                    </ul>
                    <div style="text-align: center" v-else>
                        <div class="page_list_noneBg"></div>
                        <p class="page_list_noneCon" style="width: 100%;margin-bottom: 60px;font-size: 24px;color: #999;text-align: center;">没有找到相关内容</p>
                    </div>
                    <div id="pages">
                        <vue-page @get-list="getComment" :count="count" :limit="10" :cPage="current" v-if="list.length>0"></vue-page>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>