<div class="breadcrumbs_wrap">
    <div class="breadcrumbs_inner">
        <%= backCrumbs %>
    </div>
</div>
<div class="guestmode_bg">
    <div class="guestmode_bg_inner">
        <div class="guestmode_jindu">
            <i class="iconfont icon-jinrongtubiao_jindu"></i>
            <p>最早招标：<b>2018-08-08&nbsp;&nbsp;12:00:00</b></p>
        </div>
    </div>
</div>
<%= timeline %>
<div class="bgf2">
    <div class="zhaobiao_info">
        <div class="zb_tabs">
            <ul class="zb_tabs_list clearfix">
                <li class="zb_tabs_li active"><a href="javascript:;">集采基本信息</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">招标文件<i class="downloadIcon">下载标书</i></a></li>
                <li class="zb_tabs_li"><a href="javascript:;">答疑/澄清<i class="downloadIcon">+2</i></a></li>
                <li class="zb_tabs_li"><a href="javascript:;">采购单位简介</a></li>
                <li class="zb_tabs_li"><a href="javascript:;">项目简介</a></li>
            </ul>
            <a href="#" class="zb_btn js_edit">修改项目信息</a>
            <a href="javascript:;" class="zb_btn js_upload">上传澄清文件<input type="file" name="fileUpload" id="fileUpload"
                                                                         style="position: absolute;width: 100%;height: 100%;top: 0;right: 0;opacity: 0;cursor: pointer;"></a>
        </div>
        <div class="zb_tabs_wrap display-block">
            <div class="zb_tabs_content">
                <ul class="zb_basic_list clearfix">
                    <li class="zb_list_item">
                        <span class="item_name">招标名称：</span><strong class="textBlack">常州奇华顿项目钢材招标</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">企业招标编号：</span><strong>ES11938484940</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">报名截止时间：</span><strong class="textOrange">2018-07-12   12:00:00</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">平台招标编号：</span><strong>ES11938484940</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">公告期限：</span><strong class="textOrange">自发布之日起5个工作日</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">投标/报价方式：</span><strong>在线投标</strong>
                    </li>
                    <li class="zb_list_item">
                        <span class="item_name">采购预算：</span><strong><b class="textBlack">3,600,000</b>（拦标价）</strong>
                    </li>
                </ul>
                <div class="rich_web_txt">
                    <p>hahah </p>
                </div>
                <div class="dowload_area">
                    <ul class="dowload_ul">
                        <li>
                            <i class="iconfont icon-fujian"></i><span>公告文件附件1.doc</span><a class="download_file" href="javascript:;">下载</a>
                        </li>
                        <li>
                            <i class="iconfont icon-fujian"></i><span>公告文件附件1.doc</span><a class="download_file" href="javascript:;">下载</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="zb_tabs_wrap display-none">
            <!--游客-->
            <!--<div class="zb_tabs_content">-->
            <!--<div class="msg_tips_wrap">-->
            <!--<p class="msg_tips">-->
            <!--<i class="iconfont icon-i"></i>提示：请认真阅读公告内容，如标书需要购买，请供应商单位联系采购单位完成购买事项，并根据要求登录生材网在【供应商中心】完成支付凭证上传，-->
            <!--由采购单位在【采购商中心】进行支付凭证的审核与确认，通过后相应供应商单位将可在此页面下方进行标书文件预览和下载操作。-->
            <!--</p>-->
            <!--</div>-->
            <!--<div class="msg_con">-->
            <!--<div class="msg_con_bg"></div>-->
            <!--<p class="fontSize24">如需查看详情，请先<a href="#">登录</a>！</p>-->
            <!--</div>-->
            <!--</div>-->

            <!--采购商已登录&供应商支付通过-非初次-->
            <div class="zb_tabs_content">
                <div class="msg_tips_wrap">
                    <p class="msg_tips">
                        <i class="iconfont icon-i"></i><span>提示：请认真阅读公告内容，如标书需要购买，请供应商单位联系采购单位完成购买事项，并根据要求登录生材网在【供应商中心】完成支付凭证上传，由采购单位在【采购商中心】进行支付凭证的审核与确认，通过后相应供应商单位将可在此页面下方进行标书文件预览和下载操作。</span></p>
                </div>
                <div class="msg_con_title"><span>招标文件</span></div>
                <div class="file_list">
                    <div class="file_item"><i class="iconfont icon-xlsx"></i><span>公告文件附件1.xlsx</span><a href="#">下载</a>
                    </div>
                    <div class="file_item"><i class="iconfont icon-word"></i><span>公告文件附件2.xlsx</span><a href="#">下载</a>
                    </div>
                    <div class="file_item"><i class="iconfont icon-pdf"></i><span>公告文件附件3.xlsx</span><a href="#">下载</a>
                    </div>
                </div>
                <div class="msg_con_title"><span>备注</span></div>
                <p class="file_remark">
                    完整展示采购商填写的备注信息；如果备注字段为空，则无需显示此部分内容；完整展示采购商填写的备注信息；如果备注字段为空，则无需显示此部分内容；完整展示采购商填写的备注信息；如果备注字段为空，则无需显示此部分内容；完整展示采购商填写的备注信息；如果备注字段为空，则无需显示此部分内容；完整展示采购商填写的备注信息；如果备注字段为空，则无需显示此部分内容；完整展示采购商填写的备注信息；如果备注字段为空，则无需显示此部分内容；</p>
                <div class="msg_con_title"><span>采购清单</span></div>
                <div class="purchase_list">
                    <div class="purchase_title">【包件1】</div>
                    <div class="other_table js_right">
                        <a class="move_table move_left iconfont icon-huadong-zuo"></a>
                        <a class="move_table move_right iconfont icon-huadong-you"></a>
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 90px;" rowspan="3">序号</th>
                                <th style="width: 180px;" rowspan="3">物资名称</th>
                                <th style="width: 150px;" rowspan="3">规格型号</th>
                                <th style="width: 150px;" rowspan="3">材质</th>
                                <th style="width: 120px;" rowspan="3">计量单位</th>
                                <th style="width: 140px;" rowspan="2">数量</th>
                                <th colspan="6" class="js_title">综合单价</th>
                                <th style="width: 110px;" rowspan="2">合价</th>
                                <th style="width: 130px;" rowspan="3">运输方式</th>
                                <th style="width: 150px;" rowspan="3">交货地点(选填)</th>
                                <th style="width: 150px;" rowspan="3">描述(选填)</th>
                            </tr>
                            <tr>
                                <th class="js_type" style="width: 160px">
                                    单价一
                                </th>
                                <th class="js_type" style="width: 160px">
                                    单价二
                                </th>
                                <th class="js_type" style="width: 160px">
                                    单价三
                                </th>
                                <th style="width: 90px">税率</th>
                                <th style="width: 140px">税金(T)</th>
                                <th style="width: 140px">合计单价(U)</th>
                            </tr>
                            <tr>
                                <th style="width: 140px;">N</th>
                                <th style="width: 160px" class="js_letter">a</th>
                                <th style="width: 160px" class="js_letter">b</th>
                                <th style="width: 160px" class="js_letter">c</th>
                                <th style="width: 90px">t</th>
                                <th style="width: 140px">T=(a+b+c)*t</th>
                                <th style="width: 140px">U=a+b+c+T</th>
                                <th style="width: 110px">S=N*U</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    物资名称一
                                </td>
                                <td>
                                    规格型号一
                                </td>
                                <td>
                                    材质一
                                </td>
                                <td>
                                    克
                                </td>
                                <td>
                                    100
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    不限
                                </td>
                                <td>
                                    交货地点
                                </td>
                                <td>
                                    描述
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    物资名称一
                                </td>
                                <td>
                                    规格型号一
                                </td>
                                <td>
                                    材质一
                                </td>
                                <td>
                                    克
                                </td>
                                <td>
                                    100
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    不限
                                </td>
                                <td>
                                    交货地点
                                </td>
                                <td>
                                    描述
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">总计</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td></td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                            </tr>
                            <tr>
                                <td colspan="4">总计（大写）</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4">其他报价事项（选填）</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!--供应商支付通过-初次接收-->
            <!--<div class="zb_tabs_content">-->
                <!--<div class="msg_tips_wrap marginB30">-->
                    <!--<p class="msg_tips">-->
                        <!--<i class="iconfont icon-i"></i>提示：请认真阅读公告内容，如标书需要购买，请供应商单位联系采购单位完成购买事项，并根据要求登录生材网在【供应商中心】完成支付凭证上传，-->
                        <!--由采购单位在【采购商中心】进行支付凭证的审核与确认，通过后相应供应商单位将可在此页面下方进行标书文件预览和下载操作。-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="gys_form_item">-->
                    <!--<label>接收人：</label>-->
                    <!--<div class="gys_form_block">-->
                        <!--<input type="text" name="name" class="cjy-input-">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="gys_form_item">-->
                    <!--<label>联系电话：</label>-->
                    <!--<div class="gys_form_block">-->
                        <!--<input type="text" name="name" class="cjy-input-">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="gys_form_item">-->
                    <!--<label> 短信验证码：</label>-->
                    <!--<div class="gys_form_block">-->
                        <!--<input type="text" name="name" class="cjy-input-" style="width: 148px;">-->
                        <!--<a href="javascript:;" name="sms_code" class="sendCode">获取验证码</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="gys_form_btns"><a href="javascript:;" class="btn_confirm">确定接收</a></div>-->
            <!--</div>-->


            <!--供应商-->
            <!--<div class="zb_tabs_content">-->
            <!--<div class="msg_tips_wrap">-->
            <!--<p class="msg_tips">-->
            <!--<i class="iconfont icon-i"></i>提示：请认真阅读公告内容，如标书需要购买，请供应商单位联系采购单位完成购买事项，并根据要求登录生材网在【供应商中心】完成支付凭证上传，-->
            <!--由采购单位在【采购商中心】进行支付凭证的审核与确认，通过后相应供应商单位将可在此页面下方进行标书文件预览和下载操作。-->
            <!--</p>-->
            <!--</div>-->
            <!--<div class="msg_con">-->
            <!--<div class="msg_con_bg"></div>-->
            <!--<p class="fontSize24">还没有权限查看招标文件哦~ <br>请确认已支付、并已上传了支付凭证</p>-->
            <!--<span>如已支付并上传了支付凭证，请耐心等待采购单位的确认</span>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <div class="zb_tabs_wrap display-none">
            <div class="zb_tabs_content padding20">
                <img class="zb_unit_img" src="<%= proimg %>">
                <ul class="unit_info">
                    <li>
                        <span class="color999">公司名称：</span>
                        <span>江苏南通三建集团股份有限公司</span>
                    </li>
                    <li>
                        <span class="color999">联系方式：</span>
                        <span>027-8888888</span>
                    </li>
                    <li>
                        <span class="color999">公司地址：</span>
                        <span>湖北省-武汉市-洪山区</span>
                    </li>
                    <li>
                        <span class="color999">详细地址：</span>
                        <span>珞喻路1037号</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="zb_tabs_wrap display-none">
            <div class="zb_tabs_content padding30">
                <h1 class="pro_title">常州奇华顿项目钢材招标</h1>
                <div class="pro_info">
                    <span>企业招标编号：</span>
                    <span class="marginR30">ES11938484940</span>
                    <span>平台招标编号：</span>
                    <span class="marginR30">ES11938484940</span>
                </div>
                <div class="pro_info">
                    <span>创建时间：</span>
                    <span class="marginR30">2018-07-06&nbsp;&nbsp;20:12:12</span>
                    <span>创建者：</span>
                    <span class="marginR30">楚生材</span>
                    <span>附属的招标项目个数：</span>
                    <span>11</span>
                </div>
                <div class="pro_article">
                    <p>
                        在这片江风海韵滋养的土地上，生活着一群以技艺闻名，责任为先，福祉民族的“建筑人”。一百年前，他们闯上海、走南洋，成为“现代建筑工人”中的先行军和佼佼者。建国后，他们积聚智慧与力量，于1958年创建“国营海门县建筑公司”（即南通三建前身），并在祖国的改革大潮与一轮轮经济建设契机中蓬勃发展，迅速提升。1978年，南通三建积极响应国家援建大庆的号召，挥师东北，进驻大庆，以“吃三睡五干十六”的创业精神，在“北大荒”开启了艰苦的创业历程。1983年，南通三建首次进入国际市场，并以“特别能吃苦、特别能奉献、特别能战斗”的工作作风，成为“闻名遐迩、享誉国际”的建筑劲旅，成为海门“建筑之乡”的首席名片。
                        2004年，南通三建由国有企业改制重组成为股份制企业，现注册资本金5.0128亿元人民币，已发展成为以建筑施工为主业，集投资、房屋开发、工程管理、运营服务于一体的大型综合性现代建筑集团,下辖分公司及全资、控股子公司40多家。</p>
                </div>
                <div class="fushu">
                    <strong>附属的集采项目</strong>
                    <!-- <button>
                        <i class="iconfont icon-jiahao1"></i>招标信息
                    </button> -->
                    <span class="fushu_line"></span>
                </div>
                <div class="tender_select">
                    <span class="active">最新招标
                        <i class="iconfont icon-xiajiantou1"></i>
                    </span>
                    <span class="marginL20">最早招标
                        <i class="iconfont icon-xiajiantou1"></i>
                    </span>
                    <strong>共计：11个</strong>
                </div>
                <table class="wuzi_table">
                    <thead>
                    <tr>
                        <th class="w50">序号</th>
                        <th class="w258">集采名称</th>
                        <th class="w111">公告时间</th>
                        <th class="w80">集采方式</th>
                        <th class="w80">评标方式</th>
                        <th class="w80">集采类型</th>
                        <th class="w112">投标时间</th>
                        <th class="w62">状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <p class="w182 ellipsis">昆明分公司寻沾高速六标钢</p>
                        </td>
                        <td>2018-06-29</td>
                        <td>公开招标</td>
                        <td>在线评标</td>
                        <td>物资招标</td>
                        <td>2018-06-29</td>
                        <td>报名中</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <p class="w182 ellipsis">昆明分公司寻沾高速六标钢</p>
                        </td>
                        <td>2018-06-29</td>
                        <td>公开招标</td>
                        <td>在线评标</td>
                        <td>物资招标</td>
                        <td>2018-06-29</td>
                        <td>投标中</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <p class="w182 ellipsis">昆明分公司寻沾高速六标钢</p>
                        </td>
                        <td>2018-06-29</td>
                        <td>公开招标</td>
                        <td>在线评标</td>
                        <td>物资招标</td>
                        <td>2018-06-29</td>
                        <td>已定标</td>
                    </tr>
                    </tbody>
                </table>
                <div id="pages">
                    <%= pageNav %>
                </div>
            </div>
        </div>

        <div class="zb_tabs_wrap display-none">
            <div class="zb_tabs_content padding30">
                <!-- <table class="wuzi_table">
                    <thead>
                    <tr>
                        <th class="w258">澄清文件</th>
                        <th class="w80">操作</th>
                        <th class="w80">交接人</th>
                        <th class="w174">提交时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>关于XXX的澄清.doc</td>
                        <td>
                            <a href="#" class="textOrange">下载</a>
                        </td>
                        <td>杨晓慧</td>
                        <td>2018-06-29 12:00:00</td>
                    </tr>
                    <tr>
                        <td>关于XXX的澄清.doc</td>
                        <td>
                            <a href="#" class="textOrange">下载</a>
                        </td>
                        <td>杨晓慧</td>
                        <td>2018-06-29 12:00:00</td>
                    </tr>
                    <tr>
                        <td>关于XXX的澄清.doc</td>
                        <td>
                            <a href="#" class="textOrange">下载</a>
                        </td>
                        <td>杨晓慧</td>
                        <td>2018-06-29 12:00:00</td>
                    </tr>
                    </tbody>
                </table>
                <div id="pages">
                    <%= pageNav %>
                </div> -->
                <!-- 未授权的两种状态 供应商 -->
                <div class="unauthor_one">
                    <div class="gys_default"></div>
                    <p>参与投标的供应商才有权限查看详情哦~</p>
                </div>
                <!-- 未授权的两种状态 未登录 -->
                <!-- <div class="unauthor_one">
                    <div class="unlogin_default"></div>
                    <p>如需查看详情，请先<a href="javascript:;">登录</a>~</p>
                </div> -->
            </div>
        </div>
    </div>
</div>



<template v-if="list.length>0">
    <tr v-for="(item,index) in list">
        <td>{{index+1}}</td>
        <td>
            <p class="ellipsis">{{item.companyName}}</p>
        </td>
        <td>{{item.ownTitle}}</td>
        <td>{{item.level}}</td>
        <td v-if="!unitPrice"><input type="text" name="winPrice" :supplier-id="item.supplierId" class="cjy-input-"
                :value="item.winPrice" :supplierId="item.supplierId" placeholder="输入报价金额" autocomplete="off"></td>
        <td><input type="checkbox" name="winSupplier" :value="item.supplierId" v-model="item.checked" title="" /></td>
        <td v-if="unitPrice&&index==0" :rowspan="list.length"><textarea name="unitContent" class="" placeholder="请填写实际中标的单价详情"
                style="width:80%;height:80%;padding:6px;"></textarea></td>
    </tr>
</template>